* {
    box-sizing: border-box;
}

body {

    background: #E5E5E5;
}

.namsur {
    padding-bottom: 2px;
    position: absolute;
    width: 165px;
    height: 20px;
    left: 155px;
    top: 21px;

    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #333333;
}

.posit {
    position: absolute;
    padding-bottom: 2px;
    width: 135px;
    height: 20px;
    left: 155px;
    top: 43px;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #808080;
}

.uslugi {
    position: absolute;
    width: 63px;
    height: 15px;
    left: 293px;
    top: 52px;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;
    color: #333333;
}

.hr-1 {
    width: 310px;
    margin-top: 152px;
    margin-right: 0;
    margin-left: 146px;
    border: 1px solid #DADADA;
}

.hr-2 {
    width: 310px;
    margin-top: 95px;
    margin-right: 0;
    margin-left: 146px;
    border: 1px solid #DADADA;
}

.photo {
    position: absolute;
    height: 125px;
    width: 124px;
    left: 22px;
    top: 20px;
    background: url("Слой 57 1.png") no-repeat;
    border-radius: 100px;
}

.num11 {
    position: absolute;
    width: 41px;
    height: 15px;
    left: 259px;
    top: 5px;
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #333333;
}

.num3 {
    position: absolute;
    width: 41px;
    height: 15px;
    left: 265px;
    top: 5px;
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #333333;

}

.num1 {
    position: absolute;
    width: 41px;
    height: 15px;
    left: 265px;
    top: 5px;
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #333333;
}

.green-text {
    padding-left: 6px;
    left: 160px;
    font-size: 13px;
    line-height: 26px;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    position: absolute;
    width: 219px;
    height: 24px;
    left: 157px;
    top: 173px;
    background: #B1E19B;
    border-radius: 0px 3px 3px 0px;
}

.blue-text {
    position: absolute;
    width: 105px;
    height: 26px;
    padding-left: 6px;
    left: 157px;
    top: 197px;
    margin-top: 2px;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 26px;
    background: #ACE2F8;
    border-radius: 0px 3px 3px 0px;
    color: #333333;
}

.blue-text-2 {
    padding-left: 6px;
    margin-top: 4px;
    position: absolute;
    width: 50px;
    height: 26px;
    left: 157px;
    top: 223px;
    background: #ACE2F8;
    border-radius: 0px 3px 3px 0px;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 26px;
    color: #333333;
}

.resuzt {
    position: absolute;
    width: 46px;
    height: 26px;
    left: 155px;
    top: 260px;

    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
    color: #333333;
}

.resuzt-2 {
    position: absolute;
    width: 41px;
    height: 15px;
    left: 417px;
    top: 269px;
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #333333;
}

.deyst {
    position: absolute;
    width: 290px;
    height: 16px;
    left: 19px;
    top: 319px;

    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #333333;
}

.otzuv {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    align-items: center;
    text-decoration-line: underline;
    color: #005DA1;
}

.img-1 {
    position: absolute;
    width: 11.99px;
    height: 10.75px;
    left: 365px;
    background-image: url("like.png");
}

.num138 {
    position: absolute;
    width: 21px;
    height: 0px;
    left: 15px;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: flex-end;
    color: #333333;
}

.img-2 {
    position: absolute;
    width: 11.99px;
    height: 10.75px;
    left: 420px;
    background-image: url("comment.png");
}

.num14 {
    position: absolute;
    width: 21px;
    height: 0px;
    left: 15px;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: flex-end;
    color: #333333;
}

.comment-1 {
    width: 450px;
    height: auto;
    padding: 15px;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #333333;
    background: #F2FBFF;
    border: 1px solid #C4CBCF;
    box-sizing: border-box;
    box-shadow: 0px 4px 10px rgba(128, 128, 128, 0.1);
}

.cont-3{

}

.container {
    position: relative;
    height: 50px;
    width: 300px;
    margin-top: 85px;
    margin-left: 10px;
}

.name {
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;

    color: #333333;
}
textarea{
    background: #FFFFFF;
border: 1px solid #000000;
border-radius: 1px;
}
.time-right {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #808080;
    padding-left: 5px;
}


.com {
    display: flex;
    align-items: center;
    flex-direction: row;

}

.com::before,
.com::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    left: 20px;
    top: 32px;
    border-bottom: 15px solid #DADADA;
    border-right: 15px solid transparent;
}

.com::after {
    border-bottom: 15px solid #DADADA;
    bottom: 19px;
}


.bg {
    position: absolute;
    width: 364px;
    height: 54px;
    left: 106px;
    top: 75px;
    background: #FFFBC8;
    border: 1px solid #DADADA;
    box-sizing: border-box;
    border-radius: 5px;
}

.bg-text {
    position: absolute;
    width: 333px;
    height: 24px;
    left: 48px;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #333333;
}

.test {
    border: 1px solid white;
    position: absolute:;
    width: 489px;
    height: 900px;
    background: #FFFFFF;
}

.cont-2 {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.comment-2 {
    width: 489px;
    height: 150px;
    margin-top: 85px;
    background: #F2F2F2;

}

@media (max-width: 360px) {
    .test {
        border: 1px solid white;
        width: 300px;
        height: 900px;
        background: #FFFFFF;
    }

    .namsur {
        padding-bottom: 15px;
        position: absolute;
        width: 125px;
        height: 75px;
        left: 155px;
        top: 21px;

        font-family: Arial;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 20px;
        display: flex;
        align-items: center;
        color: #333333;
    }

    .posit {
        position: absolute;
        padding-bottom: 2px;
        width: 120px;
        height: 100px;
        left: 155px;
        top: 43px;
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 20px;
        display: flex;
        align-items: center;
        color: #808080;
    }


    .bg {
        display: flex;
        height: 50px;
        width: 285px;
        left: 15px;
        top: 150px;
    }

    .bg-text {
        position: absolute;
        width: 275px;
        height: 24px;
        left: 10px;
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 11px;
        line-height: 15px;
        display: flex;
        align-items: center;
        color: #333333;
    }

    .uslugi {
        position: absolute;
        width: 89px;
        height: 15px;
        left: 243px;
        top: 46px;
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 15px;
        display: flex;
        align-items: center;
        color: #333333;
    }

    .hr-1 {
        margin: 0;
        width: 287px;
        margin-top: 213px;
        margin-right: 0;
        margin-left: 3px;
        border: 1px solid #DADADA;
    }

    .hr-2 {
        margin: 0;
        position: absolute;
        width: 287px;
        margin-top: 95px;
        margin-right: 0;
        margin-left: 95px border: 1px solid #DADADA;
    }

    .green-text {
        padding-left: 6px;
        left: 160px;
        font-size: 9px;
        line-height: 26px;
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        position: absolute;
        width: 175px;
        height: 24px;
        left: 26px;
        top: 233px;
        background: #B1E19B;
        border-radius: 0px 3px 3px 0px;
    }

    .blue-text {
        position: absolute;
        width: 100px;
        height: 26px;
        padding-left: 6px;
        left: 26px;
        top: 258px;
        margin-top: 2px;
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 9px;
        line-height: 26px;
        background: #ACE2F8;
        border-radius: 0px 3px 3px 0px;
        color: #333333;
    }

    .blue-text-2 {
        padding-left: 6px;
        margin-top: 4px;
        position: absolute;
        width: 50px;
        height: 26px;
        left: 26px;
        top: 285px;
        background: #ACE2F8;
        border-radius: 0px 3px 3px 0px;
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 9px;
        line-height: 26px;
        color: #333333;
    }

    .resuzt {
        position: absolute;
        width: 46px;
        height: 26px;
        left: 25px;
        top: 310px;
        font-family: Arial;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 26px;
        color: #333333;
    }

    .resuzt-2 {
        position: absolute;
        width: 41px;
        height: 15px;
        left: 270px;
        top: 316px;
        font-family: Arial;
        font-style: normal;
        font-weight: bold;
        font-size: 13px;
        line-height: 15px;
        display: flex;
        align-items: center;
        text-align: right;
        color: #333333;
    }

    .num11 {
        position: absolute;
        width: 41px;
        height: 15px;
        left: 246px;
        top: 5px;
        font-family: Arial;
        font-style: normal;
        font-weight: bold;
        font-size: 13px;
        line-height: 15px;
        display: flex;
        align-items: center;
        text-align: right;
        color: #333333;
    }

    .num3 {
        position: absolute;
        width: 41px;
        height: 15px;
        left: 250px;
        top: 5px;
        font-family: Arial;
        font-style: normal;
        font-weight: bold;
        font-size: 13px;
        line-height: 15px;
        display: flex;
        align-items: center;
        text-align: right;
        color: #333333;
    }

    .num1 {
        position: absolute;
        width: 41px;
        height: 15px;
        left: 250px;
        top: 5px;
        font-family: Arial;
        font-style: normal;
        font-weight: bold;
        font-size: 13px;
        line-height: 15px;
        display: flex;
        align-items: center;
        text-align: right;
        color: #333333;
    }

    .deyst {
        position: absolute;
        width: 290px;
        height: 16px;
        left: 25px;
        top: 355px;
        font-family: Arial;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 16px;
        display: flex;
        align-items: center;
        color: #333333;

    }

    .otzuv {
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        display: flex;
        align-items: center;
        text-decoration-line: underline;
        color: #005DA1;
        padding: 0;
        padding-top: 2px;


    }

    .img-1 {
        position: absolute;
        width: 11.99px;
        height: 10.75px;
        left: 175px;
        background-image: url(like.png);
    }

    .img-2 {
        position: absolute;
        width: 11.99px;
        height: 10.75px;
        left: 230px;
        background-image: url(comment.png);
    }

    .dey {
        white-space: normal;
        margin: 0;
    }


    .comment-1 {
        position: absolute;
        width: 450px;
        height: 78px;
        left: 25px;
        top: 375px;
        font-family: Arial;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 19px;
        display: flex;
        align-items: center;
        color: #333333;
    }

    .time-right {
        width: 450px;
        height: 78px;
        padding-left: 70px;
        padding-top: 175px;
        left: 20px;
        top: 346px;
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 20px;
        display: flex;
        align-items: center;
        color: #808080;
    }

}
}